        @import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
        * {
            margin: 0;
            font-size: 16px;
            font-family: "Press Start 2P";
            -webkit-font-smoothing: none;
        }
        
        body {
            background-image: linear-gradient(45deg, #D8F8F8 25%, transparent 25%, transparent 75%, #D8F8F8 75%), linear-gradient(45deg, #D8F8F8 25%, #C0F0F8 25%, #C0F0F8 75%, #D8F8F8 75%);
            background-size: 50px 50px;
            background-position: 0 0, 25px 25px;
            color: #606060;
        }
        
        .space {
            padding: 10px;
        }
        
        h1 {
            color: #F8F8F8;
            font-size: 1.6rem;
            display: inline-block;
        }
        
        p {
            font-size: 1.2rem;
        }
        
        span {
            text-transform: capitalize;
            font-size: 1.2rem;
        }
        
        .header {
            background: #0060F0;
            padding: 20px;
        }
        
        .input {
            padding: 10px;
            border-radius: 10px;
        }
        
        button {
            padding: 10px;
        }
        
        img {
            s position absolute;
            top: 1px;
        }